<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up - NZ Decants</title>
    <!-- Stylesheets -->
    <link rel="stylesheet" href="static/css/auth.css">
    <link rel="stylesheet" href="static/css/main_menu.css">
    <link rel="stylesheet" href="static/css/nav_bar.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">

</head>
<body>

    <!-- Navigation Bar -->
    {% include 'navbar.html' %}

    <!-- Registration Form -->
    <div class="auth-container">
        <form method="post" class="auth-form">
            {{ form.hidden_tag() }}
            <h2>Create an Account</h2>
            {% with messages = get_flashed_messages(with_categories=true) %}
              {% if messages %}
                {% for category, message in messages %}
                  <div class="flash {{ category }}">{{ message }}</div>
                {% endfor %}
              {% endif %}
            {% endwith %}

            <!-- Username Input Group -->
            <div class="input-group">
                <i class="fas fa-user input-icon"></i>
                {{ form.username(class="form-input", placeholder="Username") }}
            </div>

            <!-- Email Input Group -->
            <div class="input-group">
                <i class="fas fa-envelope input-icon"></i>
                {{ form.email(class="form-input", placeholder="Email Address") }}
            </div>

            <!-- Password Input Group -->
            <div class="input-group">
                <i class="fas fa-lock input-icon"></i>
                {{ form.password(class="form-input", placeholder="Password") }}
                <i class="fas fa-eye toggle-password"></i>
            </div>

            <!-- Confirm Password Input Group -->
            <div class="input-group">
                <i class="fas fa-lock input-icon"></i>
                {{ form.confirm_password(class="form-input", placeholder="Confirm Password") }}
                <i class="fas fa-eye toggle-password"></i>
            </div>

            {{ form.submit(class="button") }}
            <p class="auth-link">Already have an account? <a href="{{ url_for('routes_blueprint.login') }}">Login</a></p>
        </form>
    </div>

    <!-- Footer -->
    {% include 'footer.html' %}

    <!-- JavaScript Files -->
    <script src="static/js/auth.js"></script>

</body>
</html>